<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="babgvant.EVRPlay.FileHistory" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="babgvant.EVRPlay.PlaySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <babgvant.EVRPlay.FileHistory>
            <setting name="LastWidth" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="LastHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="NeedsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
        </babgvant.EVRPlay.FileHistory>
        <babgvant.EVRPlay.PlaySettings>
            <setting name="SkipForward1" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SkipBack1" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SkipForward2" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SkipBack2" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxInitialHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="MaxInitialWidth" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="WriteLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VideoAspectRatioMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VideoRenderingPrefs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BorderColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoProcessorMode" serializeAs="String">
                <value />
            </setting>
            <setting name="FSControlTimeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MouseSensitivity" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="BlockedFilters" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.ts;{564FD788-86C9-4444-971E-CC4A243DA150};ffdshow Video Decoder</string>
                        <string>.ts;Haali Media Splitter;CyberLink Demux (PDVD7)</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PreferredDecoders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.wmv;WMAudio Decoder DMO</string>
                        <string>.ts;ArcSoft Video Decoder;{D5F9370B-E232-464F-BE29-A885B1249190}</string>
                        <string>.ifo;Microsoft MPEG-2 Video Decoder</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="BookmarkDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplacePaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>E:\Sage TV\;\\sageserver\Sage TV\</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PublishGraph" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileHistory" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SingleInstance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverscanWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverscanHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SageWebserver" serializeAs="String">
                <value>http://localhost:8080/sage/home</value>
            </setting>
            <setting name="SWUsername" serializeAs="String">
                <value>sage</value>
            </setting>
            <setting name="SWPassword" serializeAs="String">
                <value>frey</value>
            </setting>
            <setting name="BrowseOnLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WOLMac" serializeAs="String">
                <value />
            </setting>
            <setting name="BrowseAttempts" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NeedsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Zoom" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ZoomIncrement" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="MediaLaunch" serializeAs="String">
                <value>/sagepublic/PlaylistGenerator?Command=generate&amp;pltype=pls&amp;fntype=filepath&amp;MediaFileId=$1</value>
            </setting>
            <setting name="SageRecording" serializeAs="String">
                <value>/Recordings?xml=yes</value>
            </setting>
            <setting name="SageMedia" serializeAs="String">
                <value>/Search?SearchString=&amp;searchType=MediaFiles&amp;Video=on&amp;DVD=on&amp;search_fields=title&amp;filename=.*&amp;regex=on&amp;TimeRange=0&amp;Categories=**Any**&amp;Channels=**Any**&amp;watched=any&amp;dontlike=any&amp;favorite=any&amp;firstruns=any&amp;hdtv=any&amp;archived=any&amp;manrec=any&amp;autodelete=any&amp;partials=none&amp;sort1=title_asc&amp;sort2=none&amp;grouping=None&amp;xml=yes</value>
            </setting>
            <setting name="CacheRecording" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CacheMedia" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MBButtonWidth" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="MBButtonHeight" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="OpenMediaBrowser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PageSize" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="UseDtbXml" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PriorityClass" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DtbXmlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MultiChannelWMA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DXVAWMV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomPresenter" serializeAs="String">
                <value>5325DF1C-6F10-4292-B8FB-BE855F99F88A</value>
            </setting>
            <setting name="CustomPresenterEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomAudioRender" serializeAs="String">
                <value>{EC9ED6FC-7B03-4CB6-8C01-4EABE109F26B}</value>
            </setting>
            <setting name="UseCustomAudioRenderer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AudioPlaybackDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="UseBookmarks" serializeAs="String">
                <value>True</value>
            </setting>
        </babgvant.EVRPlay.PlaySettings>
    </userSettings>
</configuration>